apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: quiz-app
  name: quiz-app
  namespace: practica
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quiz-app
  strategy: {}
  template:
    metadata:
      labels:
        app: quiz-app
    spec:
      containers:
      - image: carlosfeufernandez/app-quiz-pf
        name: app-quiz-pf
        ports:
          - containerPort: 5000
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
        env:
        - name: MONGODB_URI 
          valueFrom:
            secretKeyRef:
              name: secret-db
              key: MONGODB_URI
      initContainers:
        - name: check-db
          image: busybox:1.28
          command: ['sh', '-c', "until nc -zv quiz-app-service 27017; do sleep 5; done" ]
status: {}
