apiVersion: v1
data:
  MONGO_INITDB_ROOT_PASSWORD: YWRtaW4x
  MONGO_INITDB_ROOT_USERNAME: YWRtaW4=
  MONGODB_URI: bW9uZ29kYjovL2FkbWluOmFkbWluMUBxdWl6LWFwcC1zZXJ2aWNlOjI3MDE3
kind: Secret
metadata:
  name: secret-db
  namespace: practica
